<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewData["title"]</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <div class="filler">.</div>
                <li><a href="@Url.Action("Login", "User")">Login</a></li>
                <li><a href="@Url.Action("Register", "User")">Register</a></li>
            </ul>
        </nav>
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </body>
</html>
