<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewData["title"]</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <div class="logo"> </div>
            <nav>
                <ul class="menu">
                    <a href="@Url.Action("Index", "Home")">
                        <li>Home</li>
                    </a>
                    <div class="filler"> </div>
                    <a href="@Url.Action("Login", "User")">
                        <li>Login</li>
                    </a>
                    <a href="@Url.Action("SignUp", "User")">
                        <li>Sign Up</li>
                    </a>
                </ul>
            </nav>
        </header>
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </body>
</html>
