@model GameSalad.ViewModels.FriendList.IndexVM
@{
    ViewData["Title"] = "GameSalad | Friends";
}

<div class="flex_container">
    <div class="inline-block border">
        <h2 class="center_content">
            People You are Following
        </h2>
        @foreach (var user in Model.Following)
        {
            <div class="inline-block">
                @user.Username
                <form action="@Url.Action("Unfollow")" method="post">
                    <input type="hidden" name="Username" value="@user.Username">
                    <button> Unfollow </button>
                </form>
            </div>
        }
    </div>

    <div class="inline-block border">
        <h2 class="center_content">
            People that Follow You
        </h2>
        @foreach (var user in Model.Followers)
        {
            <div class="inline-block">
                @user.Username
            </div>
        }
    </div>
</div>

<h3> Follow Friend </h3>

@if (TempData["FollowedUser"] != null) {
    <div>
        Successfully followed
        <b>@TempData["FollowedUser"]</b>
    </div>
}

<form action="@Url.Action("Follow")" method="post">
    <div class="inline_block">
        <table>
            <tr>
                <td>Username: </td>
                <td><input name="Username" type="text"></td>
                <td>@Html.ValidationMessageFor(m => m.Username)</td>
            </tr>
        </table>

        <input type="submit" value="Follow" />
    </div>
</form>

